<div class="card">
	<div class="card-image">
		<a href="#">
			<img src="images/card-thumbnail.jpg" alt="Wimbledon video highlights - Venus Williams and Gabrine…"/>
			<span class="time">3:26</span>
			<span class="badge">
				<i class="icon icon-badge"></i>
			</span>
		</a>
	</div>
	<div class="card-details">
		<h3>
			<a href="#">
				Wimbledon video highlights - Venus Williams and Gabrine…
			</a>
		</h3>
		<div class="author">
			 <div class="avatar">
			 	<a href="#">
			 		<img src="images/avatar.jpg" alt="Imani Salib">
			 	</a>
			 </div>
			 <div class="author-details">
			 	<span class="author-name">
			 		<a href="#">Imani Salib</a>
			 	</span>
			 	<span class="post-time">3 minutes ago</span>
			 	<span class="post-views">12K views</span>
			 </div>
			 <div class="post-action">
			 	<a href="#">
			 		<i class="fa fa-ellipsis-v"></i>
			 	</a>
			 	<div class="dropdown">
			 		
			 	</div>
			 </div>
		</div>
	</div>
</div>