<div class="card big best-of">
	<div class="card-image">
		<a href="#">
			<img src="images/card-thumbnail.jpg" alt="Wimbledon video highlights - Venus Williams and Gabrine…"/>
			<img src="images/card-thumbnail.jpg" alt="Wimbledon video highlights - Venus Williams and Gabrine…"/>
			<img src="images/card-thumbnail.jpg" alt="Wimbledon video highlights - Venus Williams and Gabrine…"/>
			<img src="images/card-thumbnail.jpg" alt="Wimbledon video highlights - Venus Williams and Gabrine…"/>
			<div class="more">
				<span class="count">10</span>
				<span class="text">videos</span>
			</div>
		</a>
	</div>
	<div class="card-details">
		<h3>
			<a href="#">
				Best of UEFA championship highlights
			</a>
		</h3>
	</div>
</div>