<div class="section overlay">
	<h2 class="overlay-title">Featured Channels</h2>
	<div class="col-xs-6 col-sm-4 col-md-2">
		{{> _channel-small-with-badge}}
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		{{> _channel-small}}
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		{{> _channel-small}}
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		{{> _channel-small}}
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		{{> _channel-small}}
	</div>
	<div class="col-xs-6 col-sm-4 col-md-2">
		{{> _channel-small}}
	</div>
	<div class="col-md-12 show-more-container">
		<div class="show-more">
			<a href="#">
				<i class="icon icon-arrow-bottom"></i> show more
			</a>
		</div>
	</div>
</div>