<i class="icon icon-ellipse-v"></i>
<i class="icon icon-upload"></i>
<i class="icon icon-facebook"></i>
<i class="icon icon-twitter"></i>
<i class="icon icon-gplus"></i>
<i class="icon icon-chart-line"></i>
<i class="icon icon-folder"></i>
<i class="icon icon-user"></i>
<i class="icon icon-time"></i>
<i class="icon icon-star"></i>
<i class="icon icon-menu"></i>
<i class="icon icon-notifications"></i>
<i class="icon icon-arrow-left"></i>
<i class="icon icon-home"></i>
<i class="icon icon-close"></i>
<i class="icon icon-comment"></i>
<i class="icon icon-arrow-downs"></i>
<i class="icon icon-arrow-bottom"></i>
<i class="icon icon-arrow-right"></i>
<i class="icon icon-category"></i>
<i class="icon icon-like-1"></i>
<i class="icon icon-list"></i>
<i class="icon icon-logout"></i>
<i class="icon icon-eye"></i>
<i class="icon icon-camera"></i>
<i class="icon icon-envelope"></i>
<i class="icon icon-phone"></i>
<i class="icon icon-play"></i>
<i class="icon icon-pen"></i>
<i class="icon icon-list-add"></i>
<i class="icon icon-check"></i>
<i class="icon icon-plus"></i>
<i class="icon icon-global"></i>
<i class="icon icon-chart-bar"></i>
<i class="icon icon-bagde"></i>
<i class="icon icon-playlist"></i>
<i class="icon icon-settings"></i>
<i class="icon icon-share"></i>
<i class="icon icon-image"></i>