<div class="section overlay">
	<h2 class="overlay-title">Recommended</h2>
	<a href="#" class="see-all">See all</a>
	<div class="col-sm-4 col-md-3">
		{{> _card-small}}
	</div>
	<div class="col-sm-4 col-md-3">
		{{> _card-small}}
	</div>
	<div class="col-sm-4 col-md-3">
		{{> _card-small}}
	</div>
	<div class="col-sm-4 col-md-3 hidden-sm">
		{{> _card-small}}
	</div>
	<div class="col-md-12 show-more-container">
		<div class="show-more">
			<a href="#">
				<i class="icon icon-arrow-bottom"></i> show more
			</a>
		</div>
	</div>
</div>