.big-badge{
	position: absolute;
	bottom: -16px;
	width: 100px;
	#{$default-float}: 0;
	#{$opposite-direction}: 0;
	margin: auto;
    &:before{
		content: '';
		position: absolute;
		#{$default-float}: -25px;
		border-color: #eab840;
		border-#{$default-float}-color: transparent;
		top: 8px;
		z-index: -3;
		border-width: 16px;
		border-style: solid;
    }
    &:after{
		content: '';
		position: absolute;
		#{$opposite-direction}: -25px;
		border-color: #eab840;
		border-#{$opposite-direction}-color: transparent;
		top: 8px;
		z-index: -3;
		border-width: 16px;
		border-style: solid;
    }
    > span{
		display: block;
		padding: 6px 0;
		border-radius: 1px;
		background: #ffc107;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		&:before{
			content: '';
			position: absolute;
			#{$default-float}: -8px;
			border-color: transparent;
			border-#{$opposite-direction}-color: rgba(45, 45, 46, 0.2);
			top: 25px;
			z-index: -1;
			border-width: 8px 8px;
			border-style: solid;
	    }
	    &:after{
			content: '';
			position: absolute;
			#{$opposite-direction}: -8px;
			border-color: transparent;
			border-#{$default-float}-color: rgba(45, 45, 46, 0.2);
			top: 25px;
			z-index: -1;
			border-width: 8px 8px;
			border-style: solid;
	    }
    }
}