.card{
	width: 100%;
	.card-image{
		position: relative;
		margin-bottom: 16px;
		img{
			width: 100%;
		}
		&:after{
			content: ' ';
			position: absolute;
			width: 278px;
			height: 154px;
			box-shadow: 0 0 24px 0 rgba(45, 45, 46, 0.32);
			left: 0;
			right: 0;
			margin: auto;
			top: 20px;
			z-index: -1;
		}
		.time{
			position: absolute;
			#{$opposite-direction}: 16px;
			bottom: 16px;
			padding: 2px 7px;
			border-radius: 3px;
 			background-color: rgba(0, 0, 0, 0.6);
			font-size: 14px;
			font-weight: 500;
			line-height: 1.5;
			letter-spacing: 0.1px;
			text-align: center;
			color: #fff;
			font-family: Roboto;
			min-width: 43px;
		}
		.badge{
			position: absolute;
			width: 33px;
			height: 33px;
			background-color: #78909c;
			border-radius: 0;
			top: -8px;
			left: 16px;
			&:before{
				content: ' ';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 8px 8px;
				border-color: transparent transparent #576b75 transparent;
				position: absolute;
				left: -8px;
				top: 0px;
			}
		}
	}
	.card-details{
		h3{
			margin: 0;
			margin-bottom: 14px;
			a{
				font-size: 24px;
				font-weight: bold;
				line-height: 1.33;
				letter-spacing: -0.6px;
				color: $gray-base;
				text-decoration: none;
				&:hover{
					color: darken($gray-base, 15%);
				}
			}
		}
		.author{
			position: relative;
			float: #{$default-float};
			width: 100%;
			.avatar{
				width: 32px;
				height: 32px;
				border-radius: 50%;
				overflow: hidden;
				float: #{$default-float};
				margin-#{$opposite-direction}: 16px;
				img{
					width: 100%;
				}
			}
			.author-details{
				float: #{$default-float};
				.author-name{
					a{
						font-family: Roboto;
						font-size: 12px;
						line-height: 1.4;
						display: block;
						color: $gray-base;
						&:hover{
							color: darken($gray-base, 15%);
						}
					}
				}
				.post-time{
					font-family: Roboto;
					font-size: 12px;
					line-height: 1.75;
					margin-#{$opposite-direction}: 16px;
					color: lighten($gray-base, 30%);
				}
			}
			.post-action{
				a{
					position: absolute;
					color: lighten($gray-base, 70%);
					width: 24px;
					height: 24px;
					bottom: 6px;
					#{$opposite-direction}: 0;
					text-align: center;
					font-size: 20px;
				}
			}
		}
	}
}