body {
	direction: #{$text-direction};
	color: $gray-base;
	height: 100%;
	font-family: #{$font-family};
	-webkit-font-smoothing: antialiased;
	transition: all 0.3s ease-in-out;
	*{
		outline: none;
	}
}

.container{
	padding-top: 84px;
}

.section{
	position: relative;
	padding-top: 91px;
	&:before{
		content: 'Editor’s Picks';
		position: absolute;
		opacity: 0.15;
		font-size: 100px;
		letter-spacing: -1.2px;
		font-weight: bold;
		text-align: #{$default-float};
		color: #272d47;
		top: 0;
		#{$default-float}: -25px;
	}
	.box{
		min-height: 300px;
		background-color: #eee;
		width: 100%;
	}
}

.opened-menu{
	margin-#{$default-float}: 200px;
}