@font-face {
  font-family: '360Icons';
  src:  url('../../fonts/360Font.eot?dz1yan');
  src:  url('../../fonts/360Font.eot?dz1yan#iefix') format('embedded-opentype'),
    url('../../fonts/360Font.ttf?dz1yan') format('truetype'),
    url('../../fonts/360Font.woff?dz1yan') format('woff'),
    url('../../fonts/360Font.svg?dz1yan#360Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '360Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon-mask_2:before{content:'\0041';}
.icon-mask_3:before{content:'\0042';}
.icon-mask:before{content:'\0043';}
.icon-mask_4:before{content:'\0044';}
.icon-mask_5:before{content:'\0045';}
.icon-mask_6:before{content:'\0046';}
.icon-mask_7:before{content:'\0047';}
.icon-mask_8:before{content:'\0048';}
.icon-mask_9:before{content:'\0049';}
.icon-mask_10:before{content:'\004a';}
.icon-mask_11:before{content:'\004b';}
.icon-mask_12:before{content:'\004c';}
.icon-mask_13:before{content:'\004d';}
.icon-medal-95:before{content:'\004e';}