@font-face {
  font-family: '360Icons';
  src:  url('../../fonts/360Font.eot?dz1yan');
  src:  url('../../fonts/360Font.eot?dz1yan#iefix') format('embedded-opentype'),
    url('../../fonts/360Font.ttf?dz1yan') format('truetype'),
    url('../../fonts/360Font.woff?dz1yan') format('woff'),
    url('../../fonts/360Font.svg?dz1yan#360Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '360Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon-logout:before{content:'\0041';}
.icon-arrow-left:before{content:'\0042';}
.icon-arrow-down:before{content:'\0043';}
.icon-arrow-right:before{content:'\0044';}
.icon-home:before{content:'\0045';}
.icon-line-chart:before{content:'\0046';}
.icon-folder:before{content:'\0047';}
.icon-user:before{content:'\0048';}
.icon-time:before{content:'\0049';}
.icon-star:before{content:'\004a';}
.icon-menu:before{content:'\004b';}
.icon-search:before{content:'\004c';}
.icon-notification:before{content:'\004d';}
.icon-badge:before{content:'\004e';}