@font-face {
  font-family: '360Icons';
  src:  url('../../fonts/360Font.eot?dz1yan');
  src:  url('../../fonts/360Font.eot?dz1yan#iefix') format('embedded-opentype'),
    url('../../fonts/360Font.ttf?dz1yan') format('truetype'),
    url('../../fonts/360Font.woff?dz1yan') format('woff'),
    url('../../fonts/360Font.svg?dz1yan#360Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '360Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon-health-fitness:before {
  content: "\e901";
  font-size: 14px;
}
.icon-football:before {
  content: "\e902";
}
.icon-formula-one:before {
  content: "\e903";
}
.icon-tennis:before {
  content: "\e904";
}
.icon-cricket:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-ellipse-v:before {
  content: "\41";
}
.icon-upload:before {
  content: "\42";
}
.icon-facebook:before {
  content: "\43";
}
.icon-twitter:before {
  content: "\44";
}
.icon-gplus:before {
  content: "\45";
}
.icon-chart-line:before {
  content: "\46";
}
.icon-folder:before {
  content: "\47";
}
.icon-user:before {
  content: "\48";
}
.icon-time:before {
  content: "\49";
}
.icon-star:before {
  content: "\4a";
}
.icon-menu:before {
  content: "\4b";
}
.icon-notifications:before {
  content: "\4c";
}
.icon-search:before {
  content: "\4d";
}
.icon-home:before {
  content: "\4e";
}
.icon-close:before {
  content: "\4f";
}
.icon-comment:before {
  content: "\50";
}
.icon-arrow-downs:before {
  content: "\51";
}
.icon-arrow-bottom:before {
  content: "\52";
}
.icon-arrow-right:before {
  content: "\53";
}
.icon-category:before {
  content: "\54";
}
.icon-like:before {
  content: "\55";
}
.icon-list:before {
  content: "\56";
}
.icon-logout:before {
  content: "\57";
}
.icon-eye:before {
  content: "\58";
}
.icon-camera:before {
  content: "\59";
}
.icon-envelope:before {
  content: "\5a";
}
.icon-phone:before {
  content: "\61";
}
.icon-play:before {
  content: "\62";
}
.icon-pen:before {
  content: "\63";
}
.icon-list-add:before {
  content: "\64";
}
.icon-check:before {
  content: "\65";
}
.icon-plus:before {
  content: "\66";
}
.icon-global:before {
  content: "\67";
}
.icon-chart-bar:before {
  content: "\68";
}
.icon-bagde:before {
  content: "\6a";
}
.icon-playlist:before {
  content: "\6b";
}
.icon-settings:before {
  content: "\6c";
}
.icon-share:before {
  content: "\6d";
}
.icon-image:before {
  content: "\6e";
}
