$url_2: url(../../images/picons.png);
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #c2c2c2;
}
.photo_title {
    color: black;
    font-weight: 900;
    font-size: 38px;
}
.v-item {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    height: 350px;
    margin-top: 0px;
    margin-bottom: 50px;
    height:100%;
    overflow:hidden;
    clear:both; 
    max-height:334px; 
    margin:0
}
.v-item h3{ padding:8px 12px}
.v-item h3 a{ font-size:15px; line-height:100%} /* new line */
.v-item h3 em{ margin:10px 0 0}
.killermain {
    margin-top: 38px;
    margin-#{$default-float}: 10px;
}
.killermaintwo{
    margin-top: 38px;
    margin-#{$opposite-direction}: 10px;
}
.picon{ background: $url_2 center center no-repeat; width:34px; height:34px; top:15px; #{$default-float}: 17px;}
.picon-s{ width:34px; height:34px; top:11px; #{$default-float}: 17px;}
.col-form-label{
    padding:8px 0;
    max-width:8%
}
.sort {
    max-width: 9% !important;
}
.photoitem{ 
    margin-bottom:17px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.07);
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.07);
}
.photoitem h4{
     padding:10px 8px 10px 5px
}
.photoitem h4 a{ 
    display:inline-block; margin-bottom:5px
} 
.starter .form-group{ 
    margin:0 auto 34px
} /* new line */
.btn-select {
    position: relative;
    padding: 0;
    min-width: 180px;
    width: 100%;
    border-radius: 0;
   margin-bottom: 0px;
   height:37px;
}
.btn-select .btn-select-value {
    padding:8px 12px 7px;
    -webkit-border-radius:  5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    display: block;
    position: absolute;
    #{$default-float}: 0;
    #{$opposite-direction}: 34px;
    text-align: #{$default-float};
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-#{$default-float}: none !important;
}
.btn-select .btn-select-arrow {
    float: #{$opposite-direction};
    line-height: 20px;
    padding: 4px 12px;
    top: 0;
}
.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    #{$default-float}: -1px;
    #{$opposite-direction}: -1px;
    top: 33px;
    z-index: 999;
}
.btn-select ul li {
    padding: 3px 6px;
    text-align: #{$default-float};
}
.btn-select ul li:hover {
    background-color: #f4f4f4;
}
.btn-select ul li.selected {
    color: white;
}
.btn-select.btn-default ul li.selected {
    background-color: #ccc;
}
.btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
    background-color: white;
    border: #c2c2c2 1px solid;
}
.btn-select.btn-default, .btn-select.btn-default.active {
    border: #c2c2c2 1px solid;
    background-color: #ebebeb;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
/** tablet **/

@media only screen and (min-width: 620px) and (max-width: 991px) {
    .starter .form-group{ 
        margin:0 auto 36px
    }
    .col-form-label{
        max-width: 12%;
    }
    .sort {
        max-width: 12% !important;
    }
    .mobbanner{ margin:40px auto 15px;}
	.photo_title{ font-size:30px;font-weight: 900;}
	 hr{ margin-top:5px}
	
	.killermain{ margin:20px auto 35px}
    .btn-select {
        position: relative;
        padding: 0;
        min-width: 180px;
        width: 100%;
        border-radius: 0;
        margin-bottom: 20px;
    }
}
/** mobile **/
@media only screen and (max-width: 420px) {
    .starter .form-group{ 
        margin:0 auto 46px
    }
    .col-form-label{
        max-width: 27%;
    }
    .sort {
        max-width: 20% !important;
    }
    .killermain {
        margin-bottom: 50px;
        margin-top: 0px;
    }
    .btn-select {
        position: relative;
        padding: 0;
        min-width: 180px;
        width: 100%;
        border-radius: 0;
        margin-bottom: 30px;
    }
    .mobbanner{ margin:40px auto 12px;}
    .photo_title{ font-size:22px;font-weight: 900;}
}
/** mobile **/
@media only screen and (min-width: 320px) and (max-width: 619px) {
    .starter .form-group{ 
        margin:0 auto 46px
    }
    .v-item{ 
        margin:0 auto 17px;
        height:inherit; 
        max-height:none
    }
    .killermain {
        margin:10px auto 25px
    }
    .col-form-label{
        max-width: 27%;
    }
    .sort {
        max-width: 20% !important;
    }
    .killermain {
        margin-bottom: 50px;
        margin-top: 0px;
    }
    .btn-select {
        position: relative;
        padding: 0;
        min-width: 180px;
        width: 100%;
        border-radius: 0;
        margin-bottom: 30px;
    }
    .mobbanner{ margin:40px auto 12px;}
    .photo_title{ font-size:22px;font-weight: 900;}
    .starter .form-group{ margin: 0 auto 45px;}
    .v-item .pic img{ width:100%}
    .row > div[class*='col-xl'], .row > div[class*='col-sm']{ padding:0 15px}
	.row > div.col-md-12{ padding:0 10px}
	hr{ margin:8px auto 15px}
}