$url_3: url(../../images/video-icon.png);
body {
    background: #252525;
}
.video_title {
    color: white;
    font-weight: 900;
    font-size: 38px;
}
.seperate {
    border-top: 1px solid white;
}
/*.sort {
    font-size: 14px;
    font-weight: 400;
    color: white;
}*/
.selection {
    width: 170px !important;
}
.v-item {
    background: #252525;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    height: 310px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.v-item h3 a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    line-height: 20px;
}
.vicon {
    width: 50px;
    height: 50px;
    background: $url_3 no-repeat center center;
    top: 60px;
    #{$default-float}: 120px;
    z-index: 99;
    position: absolute;
}
.killermain {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 5px;
}
.killermaintwo{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 0px;
}
.loader .dot:first-child {
    background: white;
}
.loader .dot:nth-child(2) {
    background: white;
}
.loader .dot:nth-child(3) {
    background: white;
}
.loader .dot:nth-child(5) {
    background: white;
}
.loader .dot:nth-child(4) {
    background: white;
}
.loader .dot {
    background: white;
}

.col-form-label{
    max-width: 9%;
    font-size: 14px;
    font-weight: 400;
    color:white;
}
.sort {
    max-width: 9% !important;
}
.btn-select {
    position: relative;
    padding: 0;
    min-width: 180px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
}
.btn-select .btn-select-value {
    background-color: #453D3D !important;
    color:white;
    padding: 6px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}
.btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 6px 10px;
    top: 0;
}
.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}
.btn-select ul li {
    padding: 3px 6px;
    text-align: left;
}
.btn-select ul li:hover {
    background-color: #f4f4f4;
}
.btn-select ul li.selected {
    color: white;
}
/* Default Start */
.btn-select.btn-default, .btn-select.btn-default:active, .btn-select.btn-default.active {
    border-color: #ccc;
    border-radius: 3px;
}
.btn-select.btn-default ul li.selected {
    background-color: #ccc;
}
.btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
    background-color: white;
    border: #ccc 1px solid;
}
.btn-select.btn-default, .btn-select.btn-default.active {
    background-color: #e6e6e6;
}
/* Default End */

/** tablet **/

@media only screen and (min-width: 620px) and (max-width: 991px) {
    .col-form-label{
        max-width: 12%;
    }
    .sort {
        max-width: 12% !important;
    }
    .vicon {
        width: 50px;
        height: 50px;
        background: $url_3 no-repeat center center;
        top: 10px;
        #{$default-float}: 10px;
        z-index: 99;
        position: absolute;
    }
    .btn-select {
        position: relative;
        padding: 0;
        min-width: 180px;
        width: 100%;
        border-radius: 0;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 420px) {
    .col-form-label{
        max-width: 27%;
    }
    .sort {
        max-width: 20% !important;
    }
    .vicon {
        width: 50px;
        height: 50px;
        background: $url_3 no-repeat center center;
        top: 10px;
        #{$default-float}: 10px;
        z-index: 99;
        position: absolute;
    }
    .btn-select {
        position: relative;
        padding: 0;
        min-width: 180px;
        width: 100%;
        border-radius: 0;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 619px) {
    .col-form-label{
        max-width: 27%;
    }
    .sort {
        max-width: 20% !important;
    }
    .vicon {
        width: 50px;
        height: 50px;
        background: $url_3 no-repeat center center;
        top: 10px;
        #{$default-float}: 10px;
        z-index: 99;
        position: absolute;
    }
    .btn-select {
        position: relative;
        padding: 0;
        min-width: 180px;
        width: 100%;
        border-radius: 0;
        margin-bottom: 30px;
    }
}