//colors
$color_zeus_approx: #281e1e;
$black: #000;
$black_10: rgba(0, 0, 0, .1);
$color_black_haze_approx: #f7f7f7;
$white: #ffffff;
$black_20: rgba(0, 0, 0, .2);
$color_burnt_sienna_approx: #f26c4f;
$color_shark_approx: #252525;
$color_log_cabin_approx: #202020;
$color_silver_approx: #bcbcbc;
$color_dove_gray_approx: #727272;
$color_cararra_approx: #ebebeb;
$color_cape_cod_approx: #404040;
$color_celeste_approx: #cccccc;
$black_25: rgba(0, 0, 0, 0.25);
$color_mine_shaft_approx: #313131;
$color_pink_swan_approx: #b7b7b7;
$color_alizarin_crimson_approx: #ec1a2e;
$color_azure_approx: #3b5998;
$color_shady_lady_approx: #a9a9a9;
$gray: #808080;
$color_cardinal_approx: #cc1f27;

//fonts
$font_0: icomoon;
$font_1: Roboto;
$font_2: arial;

//urls
$url_0: url(../../images/leaderboard.jpg);
$url_1: url(../../images/photo-icon.png);
$url_2: url(../../images/picons.png);
$url_3: url(../../images/video-icon.png);
$url_4: url(../../images/vicons.png);
$url_5: url(../../images/logo_desktop.png);
$url_6: url(data:image/gif;base64,R0lGODdhgwKgAPMPACgeHl5WVsfFxTUsLPLx8a6rq3lyclBISNfV1UM6OuTj42tkZKGdnYaAgP///5SPjywAAAAAgwKgAAAE/9DJSau9OOvNu/9gKI5kaZ5oqq5s675wLM90bd94ru987//AoHBILBqPyKRyyWw6n9CodEqtWq/YrHbL7Xq/4LB4TC6bz+i0es1uu9/wuHxOr9vv+Lx+z+/7/4CBgoOEhYaHiImKi4yNjo+QkZKTlJWWl5iZmpucnZ6foKGio6SlpqeoqaqrrK2ur7CxsrO0tba3uLm6u7y9vr/AwcLDxMXGx8jJysvMzc7P0NHS09TV1tfY2drb3N3e3+Dh4uPk5ebn6Onq6+zt7u/w8fLz9PX29/j5+vv8/f7/AAMKHEiwoMGDCBMqXMiw4YgHACJKnEixokWIFjNSTHAigMaPIP9Diow4IMCCBwIUoPA4sqXLiQIusHz5MUGABgVUesBIsyfIBxV8AgjQUajRkTZPplx5tKnEmBMECAVaQqpRoladahWwIEHTBAsEPJj5kiqJAgYCDHAZwMCDBw3Iikzwtq7duAcyDjBQgMDZri8D2B28IIBckVArFADMtm7ctRYTNNCpQYCBvC7pDq6bVm3ZCnF9Jh6x+PDHkg3epn2pefODtJgrJjAwOsRiry7duh4bIHbL0Qou9xzgl4SCsb5FluTrICvIA4Lt/rQbAHfICQQKmAYZoK8F7TQRpFDAwHpk79/NfyTKQQCD5BLDlsi+vaJZDQosq89Yu4IC8CLdJwH/eftFFEB/GFg2EnsbECBAAwXad0F2EWpEXAoIPFDhUAhSuGAHYsEHwF4IevCfiBaVWAECaEEGEoLHuTjSAioIUB9JDYhHgXPnFRfURxfECJIFAsh4mooSCLBhRQewwEBGBviIQQMiMdiBkLIVYIKSIQnY3o0AIBmVkRdlwACZBurIgQJgDhUCAgb8pEEBaGpEowoEUFmmBgTEGZKVHMCZ0QFaVlUnTLYtqWKeLxWaQpEZBSBlVB8xoMGQGDCq0QUIHCrRAGry6edIXppQQEUGeKDneiIQwNNGjra6ZKntHSrmBJ3KmYECKAJgqQdgAuqBAL3Sil2bE8WKwpMU/crB/wJ/ihDcoLdmkOtH1VrALH8bQDrSAJShcO1EwlJqEagbYJrBqRlhwO5Hym6wLWIsrApAApNq0KuBJCCAYgDhgsCjhCPwyq0H8+6ZAQG9pnoldyQQAK3CGowaErorkFVupp66OQKXFi2Q704v9lvnrQy31OQKCV+YYEahYqDuuu1i4OkAIrx7ccAmEJCswBCXYPFEA8TrwYbGcpByRdk64PNHSUtAQIUrP8uq0BRXrPLI/SL6QcIVbdwBAdsN0DQFT2t09opoVru0SA6rYJ7R5jbbwcwZ2CtRBhNHStrWK/iJcwgbiu3B0BM1MELfWYegAJln3xh1kh/FrcGrYfcM3//kEyBuJwuYVe1B2n6b4HlEdG+w79orpjj6vhSlLsK2Lr9MkeEU4J3pfhlgThHnF+gMkuUnsHsnCKfze0LyxHfg+0TAZzDw2YwTzEHyvrZ3dQmP/458S9FzgJHiIdyIewfMi3Aj6xX43vTbIcXMvUTNVzCw/DID2YHwAPQOdQlg04izToCAiIRPAvwjVwqqN5H6Xe5/J6je2Z4nEeAp4DQ8s9/2SoC5A2KPIuy7gFVYR0HlaU4jDszA+lCQnLPB7zRcEwFmZNcciqTQArrLgHr8p5ED/mgkIcRhmEQwMAWiYGooBEEJAeBDC1zQayTr4QcY2MBubbAE5vFhSzBGwIj/sC6AEjnflQ41QA6s8AQ8WtsSKXKAGH5viJWhSAbztykPCI+HGWniBFzCRROshXVFDGONKvWBJeoRNFB0HgT3B5I5Uk4jYuSAzrTYEnylICIfuyIAsfWBMxblKSFYow1TgBHtCfIDOdThRPDYOBAMBVkAaCNTWEe6zKkAe9kyZAoI4KIJLnJNICGf7UrHFAOKAAALgJ1ERFcCTBJRkyWoD7iAxUkUPNGLofRVxyqIAnaZEpuo1F8UnXkBXTZTUsqMCDNH4BH2QdM4NXHjBMyJAp74Uoof2BBHpPfOZxozBEPpHtxQQE6gQXIFgTThBjy5PFAqMUwJzAgNtXe+rOwz/5x1HN0qMUDPEbhJoCG5YQfa6dGDBu6XrLQeCnBzzzyCAEwxTKjHFvhPVxKlgCMp4zH7509ipuBGE3UAQ3sGGTUOUZQkwd8HpFJRbrpSnIfbG0dRClD24FQkOn0pHAFqUhVcMyOOnCdVJVkqdrW0lXkr2TAtEskdleqJWmRPRF3XTJ6GQKZtZaRGLLnQaoKAAUbDiFGh8sFPhdWKTY3IYYWY0WFJtZxjRSWD5sq0aG71qT5Nwb5E6oCOemAtGCBpISM7VXjxs6tTtCsi4ypW5Sj1bqpdaj9J4KnJDVVpM0XbH7PpqHTGUp78TOzxMFozEOAmpd47JwWQOqLX9tWdqP9NARglcljPBqqgOwqAcy1g3QeSFq8heFqmunNMKxWWJMDNXyajiwLsXVSFfrVjbrO7Xe4yETu+HS7QEsu6VGqAWciFngnme94RpdcCouVqZq2pqwA79QN6WkF3HfxgIs1WhNglKKB8K8udrnfBaAQJDW+7AWjlVXz3xdU2I8JZDDf1vcS1iLQy3FqXKhdtHD4wBRKMWba6QJ8bmLAqY2sCIUOWkGu15Qf81IL5InGgMiQyiC5c0s9pgMQLU2g9U1y3kARVg01ton81AC0Kc9mjwnpySNV32RjfzgUfdK6RLXBVCZP2yGo7LYgXBpkmC2tcwWTzh33cApheOb6S1PL/CSDiJcqC8K7znZAAdJw7qH4gP2Y+pAMi7QBAf0SY1ITunk3VYDyjFQOjsjM+qfkRR4L3A+/yM4ZH8uUJeGTQSlZ1nuG7a1afOMhnnoDeLFTfHXF6BWMmwZzTtTGZxk6roiY0C5xtuGVjZ6OkvLMFgKxnaXfAOrIOXkuKbWspf9PbKnA0qBGM6DgqusjBngAVI6Njpsog2Q/RNrNpNhJyC7XNHqBylRtr31VzwF66PrUFaokqd4/6O9hWwbEdUOA+9hXXb26Bs9e543bzeuL5ptULNcLxl/26xzJugbUzEEutuTbUA8/1Cjr22pVflcbK1neX6ZrkjCtNRuHGwLyZ/3TgW/cU3RIfM5YhfkoVMJrPI2mx00BOUEtn2+AeJvNIOvzcmPucBWBSkbU9nXCVbgB7uHt1g5IT9An5NpJGhzR7LwmS1y6dAoA+uf+S5mmss1zvAbf6lv3+1LV/yIwAh+3DLYtkU5s9eGQqe3Jx63Fjz91+8Gn7hFYMgBbH3aCLJ4GiPs5z5AIeslFz9s84QPUT4FsEK1fvBkA6PMRHW+YqAJOxJiyAB0VI8gJWpEbWPes9IyBExZX4+fqekaxW4POyvfwne81u6mNHAC1COrwnN12KWPwCrR+w4Betc5abm2057fpOQz+CD+6+JoahCfArvKtDcb3bFSkJLCN+Sf8xOjqRMnF+Dqd9xSRApMckvREYLPB01/MthxV+dUVwV2djJIBzTEcv8HV7Xzd/9LdcWkERHBhvAagXi1VDH/hYyocw3+Jc0OdY0mcCuneATnF69gU8sHR/OESD6TJ+8EZ44fQ1K8g3icd6L8hBpdY+VOUg7mEAdRKCk5M8B0Buarcj2Achydd/S/YtMdSCU1aEJBCDodVuSvgAC4AmOuiBwDNyGaFfQXGG5ieBg0eBJfVGF8M1EKGBRtQCwzZ5BSeHGHAmFeGEZwdJ9UZlBcA7LACBEpBjYYhxeQh2ajWCB7MwvuOGEsCAHcB8FkF8e2SJ4MeDRuiDgRcCjGhfeNj/dJBIWmNnJIKYICgyAM6HfxuYKWyXiHmlhhbhQFx4brj3U5FYfZM4J7O4fSBwcyImM57IWFc4gQpHhOHlW/Vzh173iBnzi0goihrEfz3oh0kybwPwAJT2SOznALSneYHCeZy4i1bkhSMwemFofWZCjeR3QP/nUG14b6CYc9jojG+CjqY4jahYjZXXWeVHcdoYii51fAxAhnVyAAwQjjs3jO5ykAP2a8ZoWs8ngLIoj3QHineXke9mhD7EXN+niACJgk5XkJ/oiBKFhKcYkifQMd7FjbtCkfkmRfUBFgxQggPYi0OmkeX1N/2WkSwJk+JnIYcGj3rmiZhIh88xKSa5/37LGIfNuINnMW4e+JJRGXh7NZNVSQGplpJSVAB2UQC9529dOI4SsC3mqCpBWG5FuZXX9RFs2HFKmQGYwZQiqDQcdo8x8HrZtI9WSQJ7eC5qIo1S6ZMmcJGjlGmg14o0MIWUB5RVhTUiwXXq2JMSuSUgEYv/dpcTKZd7FzFLQj+5k4w/NJXkJ5iXQpkZUGAdhpgKRoCciZGlRZMacFxiiZsuIJlW45qSNR9vB5dHp5gICTNJGYyUp5eHpIkV4SyiyZWquY1faX4nVCWXOIQ7qJaj9RFuFHsSEGG7WZ0o4Jsb4E22SFRRJwGZuZEBSVNdmZyl1wEmtoB76YIiUSjRqf9403mcj1d46jlQsolym8l4awhsrGl5kDkD5sknFliBNOicdtOePceRMflpfQWaE8mcxROE+0mEcLiavAlb4sJ5C6mdrcmdY2ONfUieEwBa4/mfL9CgWteWcocYFFp8tNk1rZahyolbHNpQyuEzqFlpIUqdMjqK5akyKPqGOxqXMOZ4fGhHSUM2XwaetamizRE1BsCJGHBBg3MC3Uc0XhGXydh95/ORFwBY+EFeJKNp8rZ1H7qd/amPI8qPy+ISWpmM2DNRWNoBVAI8f0oCNFoCp9JWVnFLLmGmLbA6iKehX3if9iV1hnd4MACYD5Wg+cOTDQhEJzmnaFMTwnenIoD/U4Kqkln6pK2yFoj6oOXTEoy6Aoz5npI4n0sqqUjohrQncBFYpzdJqjXZpFqFgbNpnLMzkB6oqax2qsqaqsYqAnrSqsDJlyMRq4qqESWopiDwZNEDEZYoobSKbPn4qy6ajUG0cOm0pyxQIXUppcGXbh14m+VaFbzqAVfVVuyClrO3YtZ6RIdig8gKe/EqdC23AvVYpHs0rgLbrJYHp/6xTeqqAtPFVyjGsFBXUwgKrI9SryMVrkd2rnQmEv16AoVZsB0LqSDwVdHDEioXLX+psIGpsUfmpSUwqwAonc86OnXyfY6pAvbCrDIbYuwoXx5rARPjsIpxHcVZoMVoITqm/62shrHbqa+dOrQVCLOZGrQgWXKkFrB0pKoeMHS1RpAWyylT2rORybF8IiNthRuU2p1HqpkWGmWGOaw/SqhniwFXNbYesC8IKwGYCrfzmrARAZEVe7ezp7ahaRF8O6gXkBxAO7gjWwJ6E0nXFKUpgD2TOwIluzZQ2yBGAjzb8ravY7WfOq3jJLnOwbdRhbhy+yniohGs67jX+K4lhqqGqrg6apQUMC9US62+urtMq1f5xzqfq3V5K4lhygKa+LdflXIsMHSiqTEvgIuAFLicgiZmw04Y2qFJCpIHWgNLpIN9F0nmQbqj83sLq6VJW7cigDR5+r0T8Lysm5bDS6/e2f8CG7K80Xezu1QgrFOyimUoFhGFtKW7eIcmnMNwG2ED0ou6dGaGHQA2nFqMaLI42Nu+YWO4z9twXSu/ElA9XOu992unriuUtpm+smG451hZhHOM5Gq7thESLOwAdAKsYwoA9es4IRFEzbsmZIKwRdQq8TMCfXIunpmxGYG5QEiqCZTElJuzohc0GLJNPEuLg1LDmrk2hfVrxMJWvys129REmkKq4NpcM6BMeoems4ci6Eu0NimEtZcouVjBreNlBSO9UTNXO/ybRWsCAiwRfbwjnLe97bEhBwCyiwtOY1NgtWYjbHWu/jKUH+AqHbPHhQyO1QtLUKwYS2I4NwxJdtz/uijZIA8sEeTmIagyyoT8cpf2AJdMicGkxVj8x4TZEp38pQXgWxNBKBl0Ilu3ky1gMdWCAA3AeQYUQ/nBhPk3GVtSYBUkT/9xylI7v+XREwuQEypgzMiMTIe1zCtWLgQyI+ixAowzLMe8RbLzH8y8EQ/AylIDyVv0kBuAAAxAzSL4ICtGIi3AS7acstecGdo8LJ5xFCVBWKW5xG8sx9oZHPvHVqmhGvFXwA0QRNrBy2x1EtQx0S4hINrRzRZyIB+TTEYBHYTB0S1hJcGR0BS9Am+DHyTtE6jBGSjdyw8QxjZcHVehG3VhGBiNsVwB0mGkyCrGu1eyGgZ9E4frFFTR7hQssDQqonpXcRMoQcufeYJGISAPHSAxjNU0YSVSncH40WfuqRWG0QAMQNRb7dV8yFxlG5o6GNawCgfdQ9QOYcEQnAtP8reHkB9WfddvYteyIAA4DdiGfdiIndiKvdiM3diO/diQHdmSPdmUXdmWfdmYndmavdmc3dme/dmgHdqiPdqkXdqmfdqondqqvdqs3dqu/dqwHduyPdu0Xdu2fdu4ndu6vdu83du+/dvAHdzCPdzEXdzGfdzIndzKvdzM3dzO/dzQHd3SPd3UXd3Wfd3Ynd3avd3c3d3e/d3gHd7iPd7kXd7mfd7ond4TEAEAOw==);
$url_7: url(../../images/logo_mobile.png);
$url_8: url(../../images/rsz_logo.jpg);
$url_9: url(../../assets/fonts/icomoon.woff?235t6z);
$url_10: url(../../assets/fonts/icomoon.eot?#iefix235t6z);
$url_11: url(../../assets/fonts/icomoon.ttf?235t6z);
$url_12: url(../../assets/fonts/icomoon.svg?235t6z#icomoon);

.videoPic{
    margin-bottom: 20px;
}
.videoPic h3.title {
    padding: 20px 20px;
    line-height: 36px;
}
a.seeall {
    &:hover {
        background: #cc1f27  !important;
    }
}
.seeall {
    margin-top: 10px;
    display: block;
    border: solid 1px #000;
    padding: 15px;
    text-align: center;
    background: #fff;
    color: #202020;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    &:hover {
        color: #fff !important;
    }
}
.blackvideos {
    background: $color_shark_approx;
    margin-top: 50px;
    h2 {
        color: $color_black_haze_approx;
        /*margin: 20px 0 10px;*/
    }
}
.secLead {
    margin-#{$default-float}: 1px;
    margin-top: 30px !important;
}
.videos {
    .seeall {
        margin-top: 5px;
        display: block;
        border: solid 1px $color_cararra_approx;
        padding: 15px;
        text-align: center;
        background: none;
        color: #f7f7f7;
        font-weight: 600;
        font-size: 18px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 5px;
        margin-bottom: 40px;
    }
    h3.title {
        font-size: 28px;
    }
}
.Centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.imagesads {
    margin-top: 40px;
}
.videosads {
    margin-top: 20px;
}
/*.secondhead {
    margin-top: 15px;
}*/
.darken {
    background: $color_shark_approx;
    padding: 70px 0;
    height: 159px;
    text-align: center;
    border-radius: 4px;
    span {
        color: $color_black_haze_approx;
        font-size: 18px;
        font-weight: 600;
        i {
            color: $color_dove_gray_approx;
            margin: 0 10px;
            position: relative;
        }
    }
}
.borders {
    overflow: hidden;
    padding: 20px 0 40px;
    border: solid 1px $color_pink_swan_approx;
    margin: 20px 0;
    border-width: 1px 0;
}
.newline {
    margin-top: 35px;
}
.full-flext{
    display: flex;
    flex-flow: column;
    
}
.extend-height{
    flex: 1 1 auto;
    margin-#{$default-float}: 10px;
}
.seeall img {
    padding-#{$default-float}: 10px;
}
.clubslist .result {
    padding-top: 25px;
    padding-bottom: 25px; 
}
.owl-carousel.clubslist {
    height: 195px;
}
@media only screen and(min-width: 620px) and(max-width: 991px) {
    .videoPic h3.title {
        padding: 20px 20px;
        line-height: 18px;
    }
    .pic-md-link {
        margin-#{$default-float}: 10px;
        margin-top: 19px;
        position: relative;
        > a > img {
            width: 720px;
        }
    }
    .newline {
        margin-top: 20px;
    }
    .videoPic {
        margin-bottom: 0px; 
   }
   .videos .seeall {
    margin-top: 20px;
    margin-bottom: 30px;
   }
    .blackvideos {
        background: #252525;
        margin-top: 25px;
    }
    .alllive {
        border: solid 1px $black;
        padding: 10px 20px;
        color: $color_log_cabin_approx;
        font-size: 15px;
        display: inline-block;
        margin: 60px auto;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 5px;
    }
    .borders {
        overflow: hidden;
        padding: 0px 0 0px;
        border: solid 1px transparent;
        margin: 0px 0;
        border-width: 1px 0;
    }
    .tablestoties {
        padding-#{$default-float}: 0;
        padding-#{$opposite-direction}: 0;
    }
    .videos h3.title {
        font-size: 22px;
    }
}
@media only screen and(width: 412px) {
    .smallmob {
        padding-#{$default-float}: 10px;
    }
}
@media only screen and(width: 414px) {
    .smallmob {
        padding-#{$default-float}: 10px;
    }
}
@media only screen and(max-width: 420px) {
    .videoPic h3.title {
        padding: 10px 10px;
        line-height: 18px;
    }
    .videoPic {
        margin-bottom: 5px;
    }
    .blackvideos {
        background: #252525;
        margin-top: 25px;
    }
    .newline {
        margin-top: 25px;
    }
    .smallmob {
        padding-#{$default-float}: 10px;
    }
    .secondhead {
        margin-top: 10px;
    }
    .seeall {
        display: block;
        border: solid 1px $black;
        padding: 15px;
        margin-top: 0px;
        text-align: center;
        background: $white;
        color: $black;
        font-weight: 600;
        font-size: 14px;
        line-height: 26px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 5px;
    }
    .videos {
        .seeall {
            display: block;
            border: solid 1px $color_cararra_approx;
            padding: 15px;
            text-align: center;
            background: none;
            color: $color_cararra_approx;
            font-weight: 600;
            font-size: 14px;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 5px;
            margin-bottom: 32px;
            margin-top: 10px;
        }
        h3.title {
            font-size: 20px;
        }
    }
    .borders {
        overflow: hidden;
        padding: 20px 0 20px;
        border: solid 1px transparent;
        margin: 10px 0;
        border-width: 1px 0;
    }
}
@media only screen and(min-width: 320px) and(max-width: 619px) {
    .videoPic h3.title {
        padding: 10px 10px;
        line-height: 18px;
    }
    .videoPic {
        margin-bottom: 5px;
    }
    .newline {
        margin-top: 25px;
    }
    .blackvideos {
        background: #252525;
        margin-top: 25px;
    }
    .smallmob {
        padding-#{$default-float}: 10px;
    }
    .secondhead {
        margin-top: 8px;
    }
    .seeall {
        display: block;
        border: solid 1px $black;
        padding: 15px;
        margin-top: 0px;
        text-align: center;
        background: $white;
        color: $black;
        font-weight: 600;
        font-size: 14px;
        line-height: 26px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 5px;
    }
    .borders {
        overflow: hidden;
        padding: 20px 0 20px;
        border: solid 1px transparent;
        margin: 10px 0;
        border-width: 1px 0;
    }
    .videos .seeall {
        display: block;
        border: solid 1px $color_cararra_approx;
        padding: 15px;
        text-align: center;
        background: none;
        color: $color_cararra_approx;
        font-weight: 600;
        font-size: 14px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 5px;
        margin-bottom: 32px;
        margin-top: 10px;
    }
}
