.offset-1 {
    margin-#{$default-float}: 6% !important;
}

.club-title {
    margin-top: 15px;
}

.club-title span {
    font-size: 15px;
    font-family: "Roboto";
    color: #727272;
    line-height: 1.2;
}

.club-title .separator {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(115, 115, 115);
    line-height: 1.2;
}

.publisher-name {
    color: rgb(238, 30, 39) !important;
    font-size: 14px !important;
    font-family: "Roboto";
    margin: auto 7px;
}

.time {
    color: #bcbcbc;
    font-size: 14px;
    font-weight: normal;
    font-family: "Roboto";
}

.main-container {
    margin-top: 16px;
    padding-bottom: 16px;
    margin-#{$default-float}: 1px;
}

.videostarter {
    background: #252525;
}

.videomaintitle {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 38px;
    color: white;
    padding-bottom: 10px;
    padding-top: 15px;
}

h2.maintitle {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 34px;
    color: #202020;
    padding-bottom: 10px;
    padding-top: 15px;
}

.mostpop {
    margin-top: 35px;
}

.vbigicon {
    width: 100px;
    height: 100px;
    background: url(../img/vbigcicon.png) no-repeat center center;
    top: 120px;
    #{$default-float}: 290px;
    z-index: 99;
    position: absolute
}

.firstparagraph {
    margin-top: 54px;
}

.secondparagraph {
    margin-top: 38px;
}

.read-more-line {
    border: none;
    height: 1px;
    background-color: rgb(188, 188, 188);
    text-align: center;
}

.continue-reading {
    font-size: 12px;
    font-family: 'roboto';
    text-align: center;
    color: rgb(188, 188, 188);
    padding: 0px;
    padding-top: 5px;
}

.continue {
    margin-top: 56px;
}

.killdiv {
    margin-top: 12px;
    margin-bottom: 40px;
}

.content {
    height: 435px;
}

.video-content {
    padding: 10px;
    padding-bottom: 35px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    margin-bottom: 23px;
}

.paragraph {
    margin-top: 30px;
}

.listread {
    margin-top: 50px;
    margin-#{$default-float}: 40px;
}

.article-head {
    font-size: 14px;
    padding-top: 18px;
    margin-#{$default-float}: 18px;
    margin-bottom: 30px;
    font-family: 'roboto';
    color: rgb(188, 188, 188);
}

.secondimg {
    margin-top: 25px;
    margin-bottom: 10px;
}

.fade-out {
    max-height: 235px;
    overflow: hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
}

.read-more {
    width: 188px;
    height: 53px;
    background: #ec1a2e;
    border: none;
    color: white;
}

.fade-out:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    #{$default-float}: 0;
    top: 0;
    background: linear-gradient(transparent 60px, white);
}

.video-row {
    margin-top: 40px;
}

.relatednews {
    margin-top: 50px;
}

h2.relatedmaintitle {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 34px;
    color: #202020;
    padding-bottom: 16px;
    padding-top: 15px;
}

.v-item {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    /*width: 200px;*/
    height: 270px;
    margin-top: 15px;
    margin-bottom: 6px;
    margin-#{$default-float}: 0px !important;
}

.v-item h3 {
    margin-#{$default-float}: 10px !important;
    margin-#{$opposite-direction}: 10px !important;
    padding: 0px !important;
}

.v-item h3 a {
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.separator {
    margin: 0px;
}

.sub-row {
    margin: 24px auto;
}

.facebook-comment {
    width: 100%;
    height: 50px;
    background: white;
    border: 1px solid;
    border-color: rgb(194, 194, 194);
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Roboto';
}

.comments-header {
    size: 14px;
    font-weight: bolder;
    font-family: 'Roboto';
}

.img-profile {
    width: 45px;
    height: 45px;
}

.comment-add {
    height: 120px;
    background: white;
    width: 100%;
    resize: none;
    font-size: 14px;
    font-family: Myriad Pro Regular;
}

.no-padding {
    padding: 0px;
}

.no-padding-inner {
    padding-#{$default-float}: 8px;
}

.verticalLine {
    border-#{$default-float}: solid;
    font-size: 15px;
    font-family: "Roboto";
    border-color: rgb(225, 225, 225);
    margin-top: 10px;
}

.commentor-name {
    font-size: 13px;
    font-weight: bold;
    font-family: Myriad Pro Regular;
}

.facebook-like-comment {
    font-size: 13px;
    color: rgb(62, 99, 163);
}

.comment {
    font-size: 13px;
    font-family: Myriad Pro Regular;
}

.related {
    background: white;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.related-button {
    font-size: 14px;
    background: white;
    border: solid;
    border-width: 1px;
    padding: 3px 10px;
    border-color: rgb(215, 215, 215);
    margin: 5px 5px;
}

.main-button {
    font-family: 'roboto';
    font-size: 18px;
    font-weight: bold;
    text-align: center !important;
}

.main-button span {
    display: table;
    margin: 0 auto;
}

.tags-area {
    display: inline-block;
}

.tag {
    background-color: white;
    padding-bottom: 12px !important;
    padding-top: 12px !important;
}

.related-head {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.sections-area {
    display: none;
}

.section {
    background-color: #f1f1f1;
    padding-bottom: 12px !important;
    padding-top: 12px !important;
}

.head-related {
    width: 690px;
    margin-#{$default-float}: 1px;
}

.more-tag-button {
    font-size: 14px;
    background: #ec1a2e;
    border: solid;
    border-width: 1px;
    padding: 3px 10px;
    color: white;
    border-color: rgb(215, 215, 215);
    margin: 5px 5px;
}

.more_icon {
    display: inline-block;
}

.show_icon_inside {
    display: none;
}

.more_icon_inside {
    display: inline-block;
}

.show_icon {
    display: none;
}

.under_line {
    text-decoration: underline;
}

.social-video {
    margin-top: 95px;
}

.text-center {
    margin-bottom: 65px;
    margin-top: 10px;
}

.vsicon {
    width: 100px;
    height: 100px;
    background: url(../img/video-icon.png) no-repeat center center;
    top: 20px;
    #{$default-float}: 95px;
    z-index: 99;
    position: absolute
}


.inner.pull-#{$default-float} {
    margin-top: 105px;
}
.pull-#{$default-float} {
    margin-top: 10px;
}

.head-related-mobile {
    margin-#{$default-float}: 1px;
    margin-#{$opposite-direction}: 1px;
    /*width: 289px;*/
}


/** tablet **/

@media only screen and (min-width: 620px) and (max-width: 991px) {
    .articlemaintitle {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 28px;
        line-height: 34px;
        color: black;
        padding-bottom: 10px;
        padding-top: 15px;
    }
    .club-title span {
        font-size: 14px;
        font-family: "Roboto";
        color: #727272;
        line-height: 1.2;
    }
    .main_img {
        width: 690px;
    }
    .related_img {
        width: 360px;
    }
    .v-item {
        background: #fff;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
        height: 270px;
        margin-top: 15px;
        margin-bottom: 6px;
        margin-#{$default-float}: 0px !important;
    }
    .relatednews .related {
        height: 328px;
        width: 690px;
        margin-#{$default-float}: 3px;
    }
}

@media only screen and (max-width: 420px) {
    .videomaintitle {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 22px;
        line-height: 26px;
        color: white;
        padding-bottom: 10px;
        padding-top: 15px;
    }
    .club-title span {
        font-size: 14px;
        font-family: "Roboto";
        color: #727272;
        line-height: 1.2;
    }
    .v-item {
        background: #fff;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
        height: 250px;
        margin-top: 15px;
        margin-bottom: 6px;
        margin-#{$default-float}: 0px !important;
    }
    .relatednews .related {
        padding-top: 0px;
        height: 270px;
    }
    .most-mobile {
        padding-#{$default-float}: 4px !important;
        padding-#{$opposite-direction}: 4px !important;
    }
    .v-item h3 {
        margin-#{$default-float}: 0px !important;
        margin-#{$opposite-direction}: 10px !important;
        padding: 0px !important;
    }
    .v-item h3 a {
        font-size: 12px;
        color: black;
        font-weight: 600;
        line-height: 10px;
    }
    .no-padding {
        padding: 15px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 619px) {
    .videomaintitle {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 22px;
        line-height: 26px;
        color: white;
        padding-bottom: 10px;
        padding-top: 15px;
    }
    .club-title span {
        font-size: 14px;
        font-family: "Roboto";
        color: #727272;
        line-height: 1.2;
    }
    .v-item {
        background: #fff;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
        height: 250px;
        margin-top: 15px;
        margin-bottom: 6px;
        margin-#{$default-float}: 0px !important;
    }
    .most-mobile {
        padding-#{$default-float}: 4px !important;
        padding-#{$opposite-direction}: 4px !important;
    }
    .relatednews .related {
        padding-top: 0px;
        height: 270px;
    }
    .v-item h3 {
        margin-#{$default-float}: 0px !important;
        margin-#{$opposite-direction}: 10px !important;
        padding: 0px !important;
    }
    .v-item h3 a {
        font-size: 12px;
        color: black;
        font-weight: 600;
        line-height: 10px;
    }
    .no-padding {
        padding: 15px;
    }
}